<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
  <meta charset="UTF-8">
  <title>NgMaterial Demo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.1/angular-material.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body ng-controller="MainCtrl">
  <!-- START Toolbar -->
  <md-fab-toolbar md-open="tool.isOpen" count="tool.count" md-direction="{{tool.selectedDirection}}">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary">
          <i class="fa fa-bars"></i>
      </md-button>
    </md-fab-trigger>

    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
        <md-button aria-label="comment" class="md-icon-button" ng-click="showHome()">
            Home
        </md-button>
        <md-button aria-label="label" class="md-icon-button" ng-click="showAbout()">
          About
        </md-button>
        <md-button aria-label="photo" class="md-icon-button" ng-click="showContacts()">
          Contacts
        </md-button>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>
  <!-- ENDToolbar -->

  <!-- START Main Content -->
  <md-content class="container">
    <h1>My Contacts</h1>
    <md-list>
      <div layout="row" layout-wrap>
        <div flex-sm="100" flex-md="50" flex-lg="33" flex-gt-lg="25" ng-repeat="item in contacts">
          <md-list-item class="md-3-line">
            <img ng-src="{{item.face}}?{{$index}}" class="face" alt="{{item.who}}">
            <div class="md-list-item-text">
              <h3>{{item.who}}</h3>
              <h4>{{item.phone}}</h4>
              <p>{{item.notes}}</p>
            </div>
            <md-divider md-inset ng-if="!$last"></md-divider>
          </md-list-item>
        </div>
      </div>
    </md-list>
    <!-- START Add Contact Menu -->
    <md-button ng-click="openRightMenu()" id="addMenu" class="md-fab md-hue-2">
        <i class="fa fa-plus"></i>
     </md-button>
    <md-sidenav md-component-id="right" md- class="md-sidenav-right md-dark-theme">
      <h4>Add a Contact</h4>
      <form ng-submit="addContact(contact)" name="new_contact">
        <md-input-container>
          <label for="nameInput">Name</label>
          <input id="nameInput" type="text" ng-model="contact.name" md-sidenav-focus>
        </md-input-container>
        <md-input-container>
          <label for="phoneInput">Phone</label>
          <input id="phoneInput" type="text" ng-model="contact.phone">
        </md-input-container>
        <md-input-container>
          <label for="notesInput">Notes</label>
          <textarea id="notesInput" ng-model="contact.notes"></textarea>
        </md-input-container>
        <md-button class="md-raised md-primary">
          Submit
        </md-button>
      </form>
    </md-sidenav>
    <!-- END Add Contact Menu -->
  </md-content>
  <!-- END Main Content -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-messages.min.js"></script>
<script src="https://material.angularjs.org/HEAD/angular-material.js"></script>
<script src="app.js"></script>
</body>
</html>
