body {
  background: url('https://images.unsplash.com/uploads/1413222992504f1b734a6/1928e537?q=80&fm=jpg&s=f24faa3ab00a050e0b1527fd0bb629b0');
  background-size: cover;
}
.md-fab-toolbar-background {
  z-index: -1 !important;
}

.fa.fa-bars {
  z-index: 999;
}
a {
  text-decoration: none;
}
.md-sidenav-right {
  background-color: #ccc;
  z-index: 99;
  color: white;
}
.md-sidenav-right h4 {
  margin-bottom: 0;
  padding-left: 2%;
}

#mainMenu {
  position: fixed;
  top: 0;
  left: 0;
}

#addMenu {
  position: fixed;
  top: 0;
  right: 0;
}

.container.md-default-theme {
  background-color: rgba(255,255,255,0.8);
  height: 80vh;
}
.container.md-default-theme h1 {
  text-align: center;
}
.container.md-default-theme .face {
  width: 10ex;
  border-radius: 50%;
}
md-fab-toolbar md-toolbar .md-toolbar-tools {
  padding-left: 5%;
}

.md-fab-action-item .md-icon-button {
  width: 100%;
}
